<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Math_Monkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Math_Monkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Math_Monkeys.Properties.Settings>
            <setting name="adminFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
        </Math_Monkeys.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Math_Monkeys.Properties.Settings>
            <setting name="studentFont" serializeAs="String">
                <value>Comic Sans MS, 48pt</value>
            </setting>
            <setting name="dateFormat" serializeAs="String">
                <value>D</value>
            </setting>
        </Math_Monkeys.Properties.Settings>
    </applicationSettings>
</configuration>